/* 
***************

    MY-STYLE

***************
*/

.logo__mobile {

    width: 40px;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity))
}


#main {

    height: calc(100vh - 56px);
    overflow: auto;
}

.side__nav {

    width: 150px;
    background-color: #11283e;
    background-image: url(../img/sidebar-bg.png);
    color: white;
}

.top__icons,
.bottom__icons {

    cursor: pointer;
}

.top__icons>*:hover,
.bottom__icons>*:hover {

    background-color: rgba(77, 77, 77, 0.75);
}

.central__nav {

    height: 100px;
    margin-left: var(--bs-gutter-x);
    background-color: #1B72E8;
    color: white;
}

.central__nav .badge {

    cursor: pointer;
}

.main__content {

    width: calc(100% - 150px);
    height: 100%;
    overflow: auto;

}


.offcanvas.offcanvas-end {

    width: 550px;
}


.class__avatar {

    width: 30px;
}

.table i {

    margin-inline: 1px;
    color: rgb(33 37 41 / 75%);
    border: 2px solid currentColor;
    border-radius: 20%;
    padding: 5px;
}

.table>* {

    cursor: pointer;
}

.btn.text-warning {

    background-color: transparent;
}

/* 
*******************

    MEDIA QUERY     

********************
*/
/* 

@media screen and (max-width: 577px) {

    #main {

        height: calc(100vh - 56px);
        overflow-x: scroll;
    }

    .central__nav {

        flex-wrap: wrap;
    }

    .side__nav {

        width: 50px;
        height: 100%;
    }

    .main__content {

        width: calc(100% - 50px);
    }

    .top__icons>span,
    .bottom__icons>span {

        display: none
    }

    #padding_row {

        padding-inline: 1rem;
    }

    .side__nav {

        text-align: center;
    }

    .bottom__icons {

        justify-content: center;
    }


    .offcanvas.offcanvas-end {

        width: 100%;
    }


}
 */



@media screen and (max-width: 992px) {

    #main {

        height: calc(100vh - 56px);
        overflow-x: scroll;
    }

    .central__nav {

        flex-wrap: wrap;
    }

    .side__nav {

        width: 50px;
        height: 100%;
    }

    .main__content {

        width: calc(100% - 50px);
    }

    .top__icons>span,
    .bottom__icons>span {

        display: none
    }

    #padding_row {

        padding-inline: 1rem;
    }

    .side__nav {

        text-align: center;
    }

    .bottom__icons {

        justify-content: center;
    }


    .offcanvas.offcanvas-end {

        width: 100%;
    }


}

/* 
@media screen and (max-width: 992px) {

    #main {

        height: calc(100vh - 56px);
    }


    .side__nav {

        width: 50px;
    }


    .main__content {

        width: calc(100% - 50px);
    }

    .top__icons>span,
    .bottom__icons>span {

        display: none
    }


} */